---
layout: layouts/base.njk
---
<article class="post wrapper">
  <header class="post-header">
    <h1>{{ title }}</h1>
    <p class="post-meta">{{ date | postDate }}</p>
  </header>
  <div class="post-content">
    {{ content | safe }}
  </div>
</article>
